@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
}

.background {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

/* {
  scroll-padding-top: 64px;
} */

/* Lenis Scroll Css */

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* Stars Animation */

.stars {
  animation: animStar 150s linear infinite;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

.shooting_star {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
  animation: animate 5s linear infinite;
}

.shooting_star::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1500px);
    opacity: 0;
  }
}

.gradient-animation {
  animation: gradient 5s linear infinite;
  background-size: 200%;
  background-image: linear-gradient(to bottom right, teal, rgb(133, 133, 252));
}

@keyframes gradient {
  0%,
  100% {
    background-position: 0;
  }

  25%,
  75% {
    background-position: 200%;
  }
}
