@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background-color: #050119;
}

.background {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

html {
  scroll-padding-top: -56px;
}

/* Lenis Scroll Css */

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* Stars Animation */

.stars {
  animation: animStar 150s linear infinite;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

.shooting_star {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
  animation: animate 5s linear infinite;
}

.shooting_star::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1500px);
    opacity: 0;
  }
}

.gradient-animation {
  animation: filter-animation 5s linear infinite;
  background: radial-gradient(ellipse at center, #1e5799 0%, #7db9e8 100%);
  -webkit-animation: filter-animation 8s infinite;
}

@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: hue-rotate(0deg) blur(15px);
  }

  50% {
    -webkit-filter: hue-rotate(180deg) blur(15px);
  }

  100% {
    -webkit-filter: hue-rotate(0deg) blur(15px);
  }
}

@keyframes filter-animation {
  0% {
    filter: hue-rotate(0deg) blur(15px);
  }

  50% {
    filter: hue-rotate(180deg) blur(15px);
  }

  100% {
    filter: hue-rotate(0deg) blur(15px);
  }
}

.planet-animation {
  animation: spin-planet 25s linear infinite;
}

.planet-animation-reverse {
  animation: spin-planet-reverse 35s linear infinite;
}

@keyframes spin-planet {
  to {
    rotate: 360deg;
  }
}
@keyframes spin-planet-reverse {
  to {
    rotate: -360deg;
  }
}
